
.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	z-index: 999;}

/* ------------------------------------------------------- */
.car{
	position: relative;
}

.cabin-body__windshield-front{
	border: 2px solid black;
	border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
	background: blue;
	height: 100px;
	width: 300px;
	position: relative;
	transform: translate(600px, -90px);

}

.cabin-body__windshield-back{
	border: 2px solid black;
	border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
	background: blue;
	height: 100px;
	width: 300px;
	position: absolute;
	position: relative;
	transform: translate(301px, -190px);
}



.cabin-body{
	border: 2px solid black;
	border-radius: 8% 100% 0% 100% / 100% 0% 100% 0%;
		background: blue;
		height: 120px;
		width: 650px;
	position: relative;
	transform: translate(200px, 200px);
}

.cabin-body__mask{
	border: 2px solid black;
		background: blue;
		border-radius: 0% 100% 0% 100% / 100% 49% 51% 0%;
		height: 120px;
		width: 200px;
		position: relative;
		transform: translate(900px, -190px);
}

.cabin-body__lights{
	border: 2px solid black;
		background: grey;
		height: 30px;
		width: 40px;
		position: relative;
		transform:translate(1060px, 141px) rotate(10deg) skew(10deg, 10deg);
		z-index: 10;
}
.cabin-body__turn-lights{
	border: 2px solid black;
		background: red;
		height: 30px;
		width: 10px;
		position: absolute;
		left: 1052px;
		top: 254px;
		z-index: 2;
}

.cabin-body__turn-lights-back{
border: 2px solid black;
	background: yellow;
	height: 10px;
	width: 40px;
	position: relative;
	transform: translate(200px, 90px);
	z-index: 1;
}
.cabin-body__lights-back{
border: 2px solid black;
	background: red;
	height: 30px;
	width: 40px;
	position: absolute;
	position: relative;
	transform: translate(200px, 88px);
	z-index: 1;
}

.cabin-body__dor-forward{
	border: 2px solid black;
	background: rgb(16, 16, 210);
	height: 120px;
	width: 300px;
	position: absolute;
	left: 600px;
	top: 200px;
	z-index: 3;
}

.cabin-body__dor-back{
	border: 2px solid black;
		background: rgb(16, 16, 210);
		height: 120px;
		width: 300px;
		position: absolute;
		left: 300px;
		top: 200px;
		z-index: 3;
		
}

.cabin-body__klamka{
	border: 2px solid black;
	background: rgb(16, 16, 210);
	height: 1px;
	width: 20px;
	position: relative;
	transform: matrix(0.9, 0.1, 0.1, 0.5, 330, -280);
	z-index: 4;
}

.cabin-body__klamka-forward {
	border: 2px solid black;
	background: rgb(16, 16, 210);
	height: 1px;
	width: 20px;
	position: relative;
	transform: matrix(0.9, 0.1, 0.1, 0.5, 630, -285);
	z-index: 4;
}

.cabin-body__wheel-forward{
	border-radius: 50% 50%;
		border: 20px solid black;
		background: silver;
		height: 100px;
		width: 100px;
		position: relative;
		transform:translate(950px, -250px) scale(1);
		z-index: 5;
}

.cabin-body__wheel-back{
	border-radius: 50% 50%;
	border: 20px solid black;
	background: silver;
	height: 100px;
	width: 100px;
	position: relative;
	transform: translate(250px, -350px) scale(1);
	z-index: 5;
} 